db.config.php
Auto.php

!vendor/.gitignore

Erp/Runtime/Cache/*
Erp/Runtime/Logs/*
Erp/Runtime/Temp/*

# ThinkPHP/
Uploads/Alllist/*
!Uploads/Alllist/.gitignore
Uploads/create/*
!Uploads/create/.gitignore
Uploads/editor/*
!Uploads/editor/.gitignore
Uploads/fig/*
!Uploads/fig/.gitignore
Uploads/user/*
!Uploads/user/.gitignore
Uploads/crm_property/*
!Uploads/crm_property/.gitignore

Uploads/Customer/*
!Uploads/Customer/.gitignore

Uploads/product/*
!Uploads/product/.gitignore

/Public/qhand/js/kindeditor/attached/*
!/Public/qhand/js/kindeditor/attached/.gitignore

google-account-credentials.json
lang/1/system_parameter.json