<include file="Public:header2" />

<section class="main">
	<!---->
	<div id="right" >
		<div class="right_cont">
			<if condition="$page eq ''">
				<form name="search" class="searchform" id="searchform" action="{:u('Domcom/index')}" method="get">
					<else />
					<form name="search" class="searchform" id="searchform" action="{:u('Domcom/index')}?p={$Think.get.p}" method="get">
					</if>
					<ol class="headerOl rightR">
						<li>
							<div class="search_bar">
								<label for=""></label>
								<input class="text" type="text"  placeholder="搜尋..." name="nick" value="{$nick}"   />
								<input class="submit" type="submit" value="" />
							</div>
						</li>
						<if condition="$access['domcom_new'] eq '1'">
						<li style="float:right"><a href="{:u('Domcom/editor')}"><input type="button" class="btn addbtn" value="新增域名廠商" /></a></li>
						</if>
					</ol>
				</form>
				
			</div>
			<div class="content-table">
				<form action="{:u('Domcom/dosave')}" class="form_save" method="post">
					<div class="sercom-box col-lg-6 mb-2">
						<ul>
							<li><label class="name"><span color="#ff0000">*</span>公司名</label><input type="text" name="nick" class="subdis" value="{$data.nick}" placeholder="傳訊光..." /></li>
							<li><label class="name">網址</label><input type="text" name="url" value="{$data.url}" placeholder="http://www.photonic.com.tw/" /></li>
							<li><label class="name">聯絡人</label><input type="text" name="nane" value="{$data.nane}" placeholder="王小明" /></li>
							<li><label class="name">信箱</label><input type="email" name="mail" value="{$data.mail}" placeholder="1234@gmail.com"/></li>
							<li><label class="name">電話</label><input type="tel" name="moble" value="{$data.moble}" placeholder="0912345678" /></li>
							<li><label class="name">帳號</label><input type="text" name="user" value="{$data.user}" placeholder="請輸入帳號..." /></li>
							<li><label class="name">密碼</label><input type="text" name="pwd" value="{$data.pwd}" placeholder="請輸入密碼..." /></li>
							<li class="note"><label class="name">備註</label><textarea  name="bz"  placeholder="請輸入備註...">{$data.bz}</textarea></li>
						</ul>
					</div>
				
					
					<div class="send">
						<input type="hidden" value="{$_GET['id']}" name="id"/>
						<input type="submit"  class="btn sendbtn"/>
					</div>
					<!--content end-->
				</form>
			</div>
			
		</div>
		
	</div>
	
</div>
<!-- .wrapAll end-->
</section>
<include file="Public:footer" />

<script>
	$(".form_save").submit(function(){
		if($(".subdis").val()==""){
			
			$.toaster({ message : '公司名不能是空值'});
			return false;
		}
	});
	
</script>
