<include file="Public:header2" />

<div class="container mw1920 p-4">
	<p class="text-danger">此處新增之名目將用於薪資匯入，請假時將依比例扣除「本薪」之薪資</p>
	<form action="{:u($CONTROLLER_NAME.'/add')}" method="post" class="d-flex flex-wrap align-items-start">
		<div style="overflow-x:auto;">
        	<table class="table edit_table mb-2" style="min-width: 500px; max-width: 800px;">
        		<thead>
                    <tr>
                        <th style="min-width: 100px;">加給名稱</th>
                        <th style="min-width: 100px;">加給類型</th>
                        <th style="min-width: 75px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
                		<td><input type="text" name="name" class="w100"></td>
                		<td>
                			<select name="type">
                				<option value="0">獎金</option>
                				<option value="1">本薪</option>
                			</select>
                		</td>
                		<td>
                			<input type="submit" class="btn addbtn" value="新增" />
                		</td>
                	</tr>
	                <foreach name="bonus_type" key="key" item="vo">
	                    <tr>
	                        <td>{$vo.name}</td>
	                        <td>
	                        	<if condition="$vo.type eq 0">獎金</if>
	                        	<if condition="$vo.type eq 1">本薪</if>
	                        </td>
	                        <td>
	                        	<button type="button" class="btn delate d-inline" onclick="delete_layer({$vo.id})">
	                        		<i aria-hidden="true" class="far fa-trash-alt"></i>
	                        	</button>
	                        </td>
	                    </tr>
	                </foreach>
	              </tbody>
        	</table>
        </div>
    </form>
</div>

<include file="Public:footer" />

<script type="text/javascript">
	// var remember_text = '';
	// $('.update_input').on('focus', function(e){
	// 	const item = $(e.currentTarget);
	// 	remember_text = item.val();
	// });
	// $('.update_input').on('blur', function(e){
	// 	const item = $(e.currentTarget);
	// 	id = item.attr('layer_id');
	// 	column = item.attr('column');
	// 	value = item.val();
	// 	if(remember_text==value){ return; }

	// 	var post_data = {};
	// 	post_data['id'] = id;
	// 	post_data[column] = value;
	// 	$.ajax({
	// 		method:'post',
    //         dataType:'json',
    //         url:"{:u($CONTROLLER_NAME.'/update')}",
    //         data:post_data,
    //         success: function(res){
    //         	bg_class = res.status ? 'bg-success' : 'bg-danger';
    //         	Vue.toasted.show(res.info, { duration: 1500, className: ["toasted-primary", bg_class] });
    //         },
	// 	});
	// });

	function delete_layer(id){
		if(confirm('確定刪除?')){
			location.href = "{:u($CONTROLLER_NAME.'/delete')}?id="+id;
		}
	}
</script>