<include file="Public:header2" />
  <head>
    <style type="text/css">
      .edit_table td.td_head{
        background-color: #f6f6f6;
        padding-top: 0.8rem;
      }
    </style>
  </head>

  <section class="main" id="balance_sheet">
    <div id="right">
      <div class="searchForm">
        <ol class="headerOl rightR mb-0">
          <li>
            <div class="search_bar">
              <span class="mr-4">
								更新統計：
								<select v-model="update_ym">
									<option value="">選擇年月</option>
									<volist name="salary_ym" id="ym">
										<option value="{$ym}">{$ym}</option>
									</volist>
								</select>
								<a href="###" class="btn btn-primary" @click="update_balance">更新</a>
								<!-- <a href="###" class="btn btn-primary" @click="update_balance">更新{$ym_pre}統計</a> -->
							</span>
            </div>
          </li>
        </ol>
      </div>
      <div class="content-table">
        <div class="edit_form">
          <table cellpadding="2" cellspacing="1" class="table edit_table" style="width: unset; min-width: max-content;">
            <thead class="edit_table_thead">
              <tr class="edit_table tr">
                <th style="width: 200px;" class="text-center" valign=" middle">\
                  <span class="float-left">項目</span>
                  <span class="float-right">年份</span>
                </th>
                <th style="width: 100px;" class="text-right" v-for="year in years">
                  <a :href="'{:u('Balance/months')}?y='+year.y"
                    v-text="year.y" target="_blank"></a>
                </th>
                <th style="width: 100px;" class="text-right">加總</th>
              </tr>
            </thead>
            <tbody>
              <tr><td class="td_head" :colspan="2+years.length">收入部分</td></tr>
              <template v-for="column in in_columns">
                <tr class="cursor_pointer" @click="slide_toggle(column.id, 'in_columns')">
                  <td><span v-text="column.name"></span></td>
                  <td style="width: 100px;" class="text-right" v-for="year in years">
                    <span v-if="typeof(year['in_content']['k_'+column.id])!='undefined'"
                        v-text="year['in_content']['k_'+column.id]['num']"></span>
                    <span v-else>0</span>
                  </td>
                  <td class="text-right" v-text="column['num']"></td>
                </tr>
                <tr v-for="sub in column.sub" :class="'in_columns child_tr_'+column.id" style="display: none;">
                  <td><span class="ml-4" v-text="sub.name"></span></td>
                  <td style="width: 100px;" class="text-right" v-for="year in years">
                    <template v-if="typeof(year['in_content']['k_'+column.id])!='undefined'">
                      <span v-if="typeof(year['in_content']['k_'+column.id]['sub']['k_'+sub.id])!='undefined'"
                            v-text="year['in_content']['k_'+column.id]['sub']['k_'+sub.id]['num']"></span>
                      <span v-else>0</span>
                    </template>
                    <template v-else>0</template>
                  </td>
                  <td class="text-right">
                    <span v-if="column['sub']['k_'+sub.id]['num']!='undefined'" 
                        v-text="column['sub']['k_'+sub.id]['num']"></span>
                    <span v-else>0</span>
                  </td>
                </tr>
              </template>
              <tr><td :colspan="2+years.length"><hr class="mt-2 mb-2"></td></tr>
              <tr>
                <td class="text-right">小計</td>
                <td style="width: 100px;" class="text-right" v-for="year in years">
                  <span v-text="year.in_total"></span>
                </td>
                <td class="text-right" v-text="sum_total('in_total')"></td>
              </tr>

              <tr><td class="td_head" :colspan="2+years.length">支出部分</td></tr>
              <template v-for="column in out_columns">
                <tr class="cursor_pointer" @click="slide_toggle(column.id, 'out_columns')">
                  <td><span v-text="column.name"></span></td>
                  <td style="width: 100px;" class="text-right" v-for="year in years">
                    <span v-if="typeof(year['out_content']['k_'+column.id])!='undefined'"
                          v-text="year['out_content']['k_'+column.id]['num']"></span>
                    <span v-else>0</span>
                  </td>
                  <td class="text-right" v-text="column['num']"></td>
                </tr>
                <tr v-for="sub in column.sub" :class="'out_columns child_tr_'+column.id" style="display: none;">
                  <td><span class="ml-4" v-text="sub.name"></span></td>
                  <td style="width: 100px;" class="text-right" v-for="year in years">
                    <template v-if="typeof(year['out_content']['k_'+column.id])!='undefined'">
                      <span v-if="typeof(year['out_content']['k_'+column.id]['sub']['k_'+sub.id])!='undefined'"
                            v-text="year['out_content']['k_'+column.id]['sub']['k_'+sub.id]['num']"></span>
                      <span v-else>0</span>
                    </template>
                    <template v-else>0</template>
                  </td>
                  <td class="text-right">
                    <span v-if="typeof(column['sub']['k_'+sub.id])!='undefined'" 
                          v-text="column['sub']['k_'+sub.id]['num']"></span>
                    <span v-else>0</span>
                  </td>
                </tr>
              </template>
              <tr><td :colspan="2+years.length"><hr class="mt-2 mb-2"></td></tr>
              <tr>
                <td class="text-right">小計</td>
                <td style="width: 100px;" class="text-right" v-for="year in years">
                  <span v-text="year.out_total"></span>
                </td>
                <td class="text-right" v-text="sum_total('out_total')"></td>
              </tr>

              <tr><td class="td_head" :colspan="2+years.length">利潤部分</td></tr>
              <tr>
                <td>利潤</td>
                <td style="width: 100px;" class="text-right" v-for="year in years">
                  <span v-text="Math.round(year['in_total']-year['out_total'])"></span>
                </td>
                <td class="text-right" v-text="sum_profit()"></td>
              </tr>
              <tr>
                <td>利潤率</td>
                <td style="width: 100px;" class="text-right" v-for="year in years">
                  <span v-if="year['in_total']!=0" v-text="((year['in_total']-year['out_total']) * 100 / year['in_total']).toFixed(2)"></span>%
                </td>
                <td class="text-right">
                  <span v-if="sum_total('in_total')!=0" v-text="(sum_profit() * 100 / sum_total('in_total')).toFixed(2)"></span>%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <include file="Public:footer" />

  <script type="text/javascript">
    const balance_sheet_data = {
      update_ym: '',
      ym_pre: "{$ym_pre}",
      years: [],
      in_columns: [],
      out_columns: [],
    }
    const balance_sheetVM = new Vue({
      el: '#balance_sheet',
      data: balance_sheet_data,
      methods: {
        get_years_data: async function(){
          self = this;
          $('#body_block').show();
          await $.ajax({
            method: "GET",
            dataType:'json',
            url: "{:u('Balance/years_data_ajax')}",
            data: {},
            success: function(res){
              self.in_columns = res.in_columns;
              self.out_columns = res.out_columns;
              self.years = res.years;
            },
            error: function(res){
              Vue.toasted.show("發生錯誤，請再試一次", { duration: 1500, className: ["toasted-primary", "bg-danger"] });
            },
          });
          $('#body_block').hide();
        },
        sum_total: function(total_name){
          self = this;
          sum = 0;
          for (var i = 0; i < self.years.length; i++) {
            const month = self.years[i];
            sum += Number(month[total_name]);
          }
          // return sum.toFixed(2);
          return Math.round(sum);
        },
        sum_profit: function(){
          self = this;
          sum = self.sum_total('in_total') - self.sum_total('out_total');
          // return sum.toFixed(2);
          return Math.round(sum);
        },
        slide_toggle: function(column_id, class_name){
          self = this;
          const selector = $('.'+class_name+'.child_tr_'+column_id);
          selector.slideToggle('fast');
        },
        update_balance: function(){
          self = this;
          update_ym = this.update_ym ? this.update_ym : this.ym_pre;
          $('#body_block').show();
          $.ajax({
            method: "GET",
            dataType:'json',
            url: "{:u('Balance/update_balance')}",
            data: { 
              ym: update_ym,
            },
            success: function(res){
              if(res.status==1){
                // location.reload();
                self.redirect();
              }else{
                Vue.toasted.show(res.info, { duration: 1500, className: ["toasted-primary", "bg-danger"] });
                $('#body_block').hide();
              }
            },
            error: function(res){
              Vue.toasted.show("發生錯誤，請再試一次", { duration: 1500, className: ["toasted-primary", "bg-danger"] });
              $('#body_block').hide();
            },
          });
        },
        redirect: function(){
          self = this;
          // location.href = "{:u('Balance/years')};
          self.get_years_data();
        },
      },
    });
    balance_sheetVM.get_years_data();
  </script>