
                                        
                                        <th style="width: 100px" class="text-left">{$system_parameter["公司名稱"]}</th>
                                        <th style="width: 200px" class="text-left">主旨</th>
                                        <th style="width: 300px" class="text-left">內容</th>
                                        <th style="width: 175px" class="text-left">事件號</th>
                                        <th style="width: 75px" class="text-left">發布者</th>
                                        
                                        
                                        <th style="width: 300px" class="text-left">可執行工作</th>
                                        <th style="width: 80px" class="text-right">進度</th>