
				<!-- 共用階層列表 -->
				<div class="list_layer">
					<div class="upwards">
						<div class="list_group">
							<div class="layer_1_tab">
								<a href="{:U('Fig/back')}" class="">往返確認單</a>
							</div>
							<div class="layer_1_tab">
								<a href="{:U('Fig/addnew')}" class="">發佈新事件</a>
							</div>
							<div class="layer_1_tab">
								<a href="{:U('Fig/index')}" class="">事件列表</a>
							</div>
							<div class="layer_1_tab">
								<a href="{:U('Fig/getlist')}" class="">接收列表</a>
							</div>
							<div class="layer_1_tab">
								<a href="{:U('Fig/calendar')}" class="">事件月曆</a>
							</div>
							<div class="layer_1_tab">
								<a href="{:U('Events/index')}" class="">項目管理</a>
							</div>
							
						</div>
					</div>
				</div>
				<!-- END 共用階層列表 -->