              <!-- 工作流程區 -->
              <div class="container-fluid">
                <div class="row">
                  <!-- 控制區 -->
                  <div class="col-12 order-sm-1 order-1">
                    <div class="d-flex flex-wrap align-items-center mb-2">
                      <div class="width_fit_content mb-1 mr-2 d-flex align-items-center">
                        排序方式：
                        <select v-model="work_sort" @change="renew_work_sort">
                          <option value="create_asc">依建立順序，由舊至新</option>
                          <option value="create_desc">依建立順序，由新至舊</option>
                          <option value="worktime_asc">依排程順序，由近至遠</option>
                        </select>
                        <button @click="renew_work_sort" class="ml-1 mr-2 border-radius">更新排序</button>
                      </div>
                      <div class="width_fit_content mb-1 mr-2 d-flex align-items-center">
                        單位時長：
                        <select v-model="unit_time" class="ml-1 mr-2" @change="get_calendar">
                          <option value="43200">半天</option>
                          <option value="86400">一天</option>
                        </select>
                      </div>
                      <div class="width_fit_content mb-1 mr-2 d-flex align-items-center">
                        單位寬度：<span v-text="unit_width"></span>px
                        <div class="slider ml-3 mt-2 mt-md-0 d-inline-block" style="width:200px"></div>
                        <!-- 
                          <select v-model="unit_width" class="mr-4">
                            <option value="50">50px</option>
                            <option value="100">100px</option>
                            <option value="200">200px</option>
                            <option value="400">400px</option>
                          </select> 
                        -->
                      </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-center mb-2">
                      工作項目寬度：<span v-text="Math.floor(unit2_width/2)"></span>px
                      <div id="slider2" class="ml-3 mt-2 mt-md-0 p-0" style="width:250px">
                        <div class="slider2"></div>
                      </div>
                      <button class="btn border p-1 ml-4 border-radius" @click="move_to_current_date">移至今日</button>
                    </div>
                  </div>

                  <!-- 主畫面區 -->
                  <div class="col-sm-12 col-12 order-sm-3 order-2" style="clear: both;">
                    <div class="w-100 d-flex position-relative" style="z-index: 0;">
                      <!-- 工作標題區 -->
                      <div class="work_info_area position-relative border" :style="{width: unit2_width+'px'}">
                          <div class="text-center thead d-flex align-items-center justify-content-center">工作項目</div>
                          <div class="width_fit_content position-relative">
                              <!-- 各工作 -->
                              <div class="async_scroll_y async_height overflow_x_hidden width_fit_content input_area">
                                <div style="margin-bottom: 50px;">
                                    <div class="work d-flex justify-content-between align-items-center" v-for="(work, index) in works">
                                      <a :href="'{:u('Fig/view')}?id=' + work.eve_id" target="_blank">
                                          <span class="eve_title mr-4" v-text="work.name"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                :dataOriginalTitle="'執行者：' + work.u_name"
                                          ></span>
                                      </a>
                                        <!-- 
                                          <div class="time_input small_font">
                                            <div>
                                                S：<input name="date" type="date" :value="date_to_input_value_date(work.sdate)" @change="input_change_time(event, index, 'sdate', work)" />
                                                <select name="hour" @change="input_change_time(event, index, 'sdate', work)">
                                                    <option v-for="option in hour_option" :selected="date_to_input_value_hour(work.sdate)==option" :value="option" v-text="option"></option>
                                                </select>
                                                :
                                                <select name="minute" @change="input_change_time(event, index, 'sdate', work)">
                                                    <option v-for="option in minute_option" :selected="date_to_input_value_minute(work.sdate)==option" :value="option" v-text="option"></option>
                                                </select>
                                            </div>
                                            <div>
                                                E：<input name="date" type="date" :value="date_to_input_value_date(work.edate)" @change="input_change_time(event, index, 'edate', work)" />
                                                <select name="hour" @change="input_change_time(event, index, 'edate', work)">
                                                    <option v-for="option in hour_option" :selected="date_to_input_value_hour(work.edate)==option" :value="option" v-text="option"></option>
                                                </select>
                                                :
                                                <select name="minute" @change="input_change_time(event, index, 'edate', work)">
                                                    <option v-for="option in minute_option" :selected="date_to_input_value_minute(work.edate)==option" :value="option" v-text="option"></option>
                                                </select>
                                            </div>
                                          </div> 
                                        -->
                                    </div>
                                  </div>
                              </div>
                          </div>
                            <!-- 展開按鈕 open-->
                            <!-- 
                            <div class="extend_btn d-flex align-items-center position-absolute h-100 border" 
                                  onclick="work_setting_toggle()">
                                <i class="right_btn bi bi-chevron-compact-right"></i>
                                <i class="left_btn bi bi-chevron-compact-left"></i>
                            </div>
                          -->
                      </div>

                      <!-- 工作日曆區 -->
                      <div class="time_bar_area position-relative border border-left-0 w-100">
                        <div class="async_scroll_x day_row_area overflow_y_hidden position-relative">
                          <!-- 今日標記 -->
                          <div v-if="to_current_day || !( calendar.sdate>current_day.edate || calendar.edate<current_day.sdate)"
                                class="current_day_mark position-absolute bg-warning p-0"
                                :style="{width: unit_width+'px', 
                                        left: get_work_position(current_day) +'px'}">
                          </div>

                          <!-- 日曆日期 -->
                          <day_row :calendar_days="calendar_days" :unit_width="unit_width" :show_content="true" :day_end_blank="true"></day_row>
                        </div>
                        <div id="time_bar_area" class="async_scroll_y async_scroll_x async_overflow async_height_add_scrollbar position-relative">
                          <!-- 日曆日期(保持甘特圖區塊的寬度用) -->
                          <day_row :calendar_days="calendar_days" :unit_width="unit_width" :show_content="false" :day_end_blank="false"></day_row>

                          <!-- 今日標記 -->
                          <div v-if="to_current_day || !( calendar.sdate>current_day.edate || calendar.edate<current_day.sdate)"
                              class="current_day_mark position-absolute bg-warning p-0"
                              :style="{
                                        width: unit_width+'px', 
                                        left: get_work_position(current_day) +'px'
                              }"
                          ></div>

                          <!-- 時間甘特圖 -->
                          <div id="all_time_bar" style="margin-bottom: 50px;">
                            <div class="time_bar d-flex position-relative" 
                                 v-for="(work, index) in works" 
                                 :style="{
                                    left: get_work_position(work)+'px',
                                    opacity: work.time_type==1 ? 1 : 0.33,
                                 }">
                              <div class="d-flex" v-if="editable || get_work_width(work)!=0">
                                <button :class="['input-group-text', 'dc_btn', 'dc_btn-l', editable ? '' : 'invisible']" 
                                        @mousedown="change_width(index, work, 'sdate')">
                                  <i class="bi bi-chevron-double-left"></i>
                                </button>
                                <div v-show="get_work_width(work)"
                                            :class="['work_time', 'form-control', 'rounded-0', work.state]"
                                            :style="{width: get_work_width(work) +'px'}"
                                            @click="click_one_time(index, work)"
                                            @dblclick="set_work_notime(index)"
                                            @mousedown="move_work(index, work)"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            :dataOriginalTitle="work.sdate + ' ~ ' + work.edate + ',<br>' + work.u_name + '(績效:'+work.price+')'"
                                ></div>
                                <button :class="['input-group-text', 'dc_btn', 'dc_btn-r', editable ? '' : 'invisible']"
                                        @mousedown="change_width(index, work, 'edate')">
                                  <i class="bi bi-chevron-double-right"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- 工作背景色區塊 -->
                      <div class="bg_area position-absolute">
                          <div class="w-100 border-top border-bottom thead"></div>
                          <div class="async_scroll_y overflow_x_hidden async_height_add_scrollbar">
                            <div style="margin-bottom: 50px;">
                              <div class="work w-100" v-for="work in works"></div>
                            </div>
                            <br>
                          </div>
                      </div>
                    </div>
                  </div>
              
                  <!-- 送出資料按鈕 -->
                  <div class="col-sm-12 col-12 order-sm-4 order-4 d-flex flex-wrap  mt-2" v-if="editable">
                    <div class="col-md-6 col-12">
                      <ol class="remarks row">
                        <li>1.單擊甘特圖可開啟時間修改面板</li>
                        <li>2.雙擊甘特圖可取消排程</li>
                        <li>3.按住甘特圖拖移工作時間</li>
                        <li>4.拖移超出甘特圖範圍後如還須調整時間，請保持按住滑鼠並上下移動</li>
                      </ol>
                    </div>
                    <div class="col-md-5 col-12 mt-2">
                      <div class="row">
                        <button class="btn addbtn d-block" @click="save_date()">儲存排程資料</button>
                      </div>
                    </div>
                  </div>
                  <!-- 說明區 -->
                  <!-- <div class="col-sm-6 col-12 order-sm-2 order-3 d-flex justify-content-end" v-if="editable">
                      <ol class="pr-2 m-0">
                        <li>1.單擊甘特圖可開啟時間修改面板</li>
                        <li>2.雙擊甘特圖可取消排程</li>
                        <li>3.按住甘特圖拖移工作時間</li>
                        <li>4.拖移超出甘特圖範圍後如還須調整時間，請保持按住滑鼠並上下移動</li>
                      </ol>
                    </div> -->
                </div>

                <a id="edit_panel_btn" data-toggle="modal" data-target="#edit_panel"></a>
                <!-- 編輯流程時間面板 -->
                <div class="modal fade" id="edit_panel" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="memberLoginTitle">編輯排程</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body d-flex flex-column justify-content-center">
                        <p>
                          <span class="mr-4" v-text="edit_panel.name"></span><br>
                          執行者：<span v-text="edit_panel.u_name"></span>
                        </p>
                        <div>
                          預估工時：<input type="text" v-model="edit_panel.estimated_time" style="width:50px;"/>天
                          &nbsp;&nbsp;
                          實際工時：<input type="text" v-model="edit_panel.exact_time" style="width:50px;"/>天
                        </div>
                        <div class="mb-1">
                          績效：<span v-text="edit_panel.price"></span>元
                        </div>
                        <div class="mb-1">
                          開始時間：<input type="date" v-model="edit_panel.s_date">
                          <select v-model="edit_panel.s_hour">
                            <option v-for="option in hour_option" :value="option" v-text="option"></option>
                          </select>
                          :
                          <select v-model="edit_panel.s_minute">
                            <option v-for="option in minute_option" :value="option" v-text="option"></option>
                          </select>
                        </div>
                        <div class="mb-1">
                          結束時間：<input type="date" v-model="edit_panel.e_date"/>
                          <select v-model="edit_panel.e_hour">
                            <option v-for="option in hour_option" :value="option" v-text="option"></option>
                          </select>
                          :
                          <select v-model="edit_panel.e_minute">
                            <option v-for="option in minute_option" :value="option" v-text="option"></option>
                          </select>
                        </div>
                        <div class="mb-1">
                          時間安排類型：
                          <select v-model="edit_panel.time_type">
                            <option value="0">預估</option>
                            <option value="1">確定執行</option>
                          </select>
                        </div>
                        <button class="btn btn-primary mt-2" @click="do_edit_panel()">設定</button>
                        <p class="h6">此按鈕僅會修改甘特圖畫面<br>如需儲存資料請點擊最下方「儲存排程資料」</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>