<!-- <link rel="stylesheet" href="__PUBLIC__/workflow/reset.css"> -->

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="__PUBLIC__/workflow/bootstrap-icons.css">
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<!-- jquery -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<link rel="stylesheet" href="__PUBLIC__/workflow/style.css">
<style>
	/*工作流程 樣式衝突調整*/
	.ui-widget-content{
		background-color: unset;
	}
	ol li{
		float: none;
	}
	.tooltip {
		border: none;
	    height: 0px;
	    background-color: unset;
	}
	.tooltip-inner{
		max-width: 300px;
		width: max-content;
	}

	.navBtn_on{
		background-color: #37b1e0;
	    border: 1px solid #37b1e0;
	    color: #fff;
	}
</style>